@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

* {
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body section .container {
  max-width: 650px;
  margin: 0 auto;
}

body section .container .flex-block .wrapper-box .box .modal .modal-title, body section .container .flex-block .wrapper-box .box .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body section .container {
  max-width: 650px;
  margin: 0 auto;
}

body section .container .flex-block .wrapper-box .box .modal .modal-title, body section .container .flex-block .wrapper-box .box .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body section {
  height: 100vh;
  background-color: rgb(35, 155, 230);
}
@media only screen and (max-width: 670px) {
  body section {
    height: 100%;
  }
}
body section .container {
  padding-top: 180px;
}
@media only screen and (max-width: 670px) {
  body section .container {
    padding-top: 0;
  }
}
body section .container .flex-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 670px) {
  body section .container .flex-block {
    flex-direction: column;
  }
}
body section .container .flex-block .wrapper-box:nth-child(odd) {
  margin: 20px 0;
}
body section .container .flex-block .wrapper-box .title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 500;
  text-align: center;
  margin-bottom: 15px;
}
body section .container .flex-block .wrapper-box .box {
  width: 200px;
  height: 180px;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 2px;
  position: relative;
}
body section .container .flex-block .wrapper-box .box .line {
  width: 40px;
  height: 2px;
  background-color: white;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  left: 15px;
}
body section .container .flex-block .wrapper-box .box .btn {
  width: 110px;
  height: 30px;
  background-color: black;
  cursor: pointer;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
  border: none;
  outline: none;
  transition-property: all;
  transition-duration: 350ms;
  transition-timing-function: ease;
}
body section .container .flex-block .wrapper-box .box .btn:hover {
  background-color: orangered;
}
body section .container .flex-block .wrapper-box .box .white-btn {
  background-color: white;
  color: black;
  border-radius: 20px;
}
body section .container .flex-block .wrapper-box .box .modal {
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 165px;
  height: 145px;
  background-color: white;
  display: none;
}
body section .container .flex-block .wrapper-box .box .modal.active {
  display: block;
}
body section .container .flex-block .wrapper-box .box .modal .close-btn {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  transition-property: all;
  transition-duration: 350ms;
  transition-timing-function: ease;
}
body section .container .flex-block .wrapper-box .box .modal .close-btn:hover {
  color: red;
}
body section .container .flex-block .wrapper-box .box .modal .modal-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 500;
}